.comments-box{
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(0,0,0,0.2);
    color: white;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 1rem;
}
.com-text{
    margin: auto;
}

.survey-comments{
    background-color: #151A40;
}