.form-container{
    width: 70%;
    margin-left: 3rem;
}
.form-group > label{
    font-size: 18px;
}
.comments-form{
    background-color: rgb(0,0,0,0.1);
    padding: 1.5rem;
    padding-top: 1rem;
    border-radius: 5px;
}
.comments-outer-container{
    display: grid;
    width: 85%;
    margin: auto;
}

.comment-container{
    font-size: 15px;
    padding: 1rem;
    background: rgb(0,0,0,0.07);
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.comment-name{
    font-size: 16px;
    font-weight: 600;
}
.comment-date{
    font-size: 12px;
    font-weight: 700;
}
.reply{
    width: 90%;
    justify-self: end;
    background-color: rgb(0,20,50,0.15);
}
.see-replies{
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: -5px;
}
.see-replies:hover{
    color: rgb(0, 80, 190)!important;
}
.fa-reply{
    font-size: 20px;
    color: rgb(0,0,0,0.35);
}
.fa-reply:hover{
    color: rgb(0,0,0,0.75);
    cursor: pointer;
}
.comment-data-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.comment-data-label{
    font-size: 16px;
    margin-right: 0.25rem;
    width: 25%;
}

.comments-submit{
    height: 2.5rem;
    width: 7rem;
    font-size: 13px;
    background-color: (38,136,165)
}

.comment-btn{
    background-color: rgb(38,136,165);
    border: none;
}
.comment-btn:hover{
    background-color: rgb(18,106,125);
    border: none;
}