
.header-container {
    margin: auto;
    margin-top: 3rem;
    align-items: center;
    display: grid;
    grid-template-columns: 325px 10fr 3fr 1fr 1fr;
    grid-template-areas: 
        "brand tagline invest cart search";
}
.invest-link{
    font-family: "Work-Sans", sans-serif;
    align-items: end;
    margin-top: 1.5em;
    margin-left: 1em;
}
.invest-link:hover{
    text-transform: uppercase;
}
.invest-button{
    justify-self: end;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0px;
    align-self: center;
}
.invest-button:hover{
    cursor: pointer;
}
.invest-img{
    height: auto;
    width: 100%;
}
.skytop-brand{
    height: 4.3rem;
    width: auto;
    border-right: 1px solid rgb(0,0,0,0.2);
    padding-right: 2rem;
    padding-left: 3rem;
    grid-area: brand;
}
.tagline{
    margin-right: auto;
    grid-area: tagline;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 4.5rem;
    font-weight: 400;
    justify-self: left;
}

.header-icon{
    height: 3rem;
    width: auto;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}
.header-icon:hover{
    box-shadow: 1px 1px 2px 2px rgb(0,0,0,0.2);
}

.cart{
    grid-area: cart;
}
.search{
    grid-area: search;
}


/* MOBILE */
.mobile-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.mob-header-subgrid{
    display: flex;
    margin-bottom: 1rem;
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

@media only screen and (max-width: 992px){
    .skytop-brand{
        border: none;
        padding: 0.25rem;
        height: 5rem;
    }
    .tagline{
        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1.5rem;
    }
    .header-icon{
        margin-top: 0px;
    }

    .header-container{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 5fr 1fr 1fr 1fr;
        grid-template-areas: 
            "brand cart search"
            "tagline tagline tagline"
        ;
    }
}


