.stuImgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.stuImg {
  width: 95%;
  height: 660px;
  border-radius: 10px;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.robotoFont {
  font-family: Roboto;
}

#border {
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categoryButton {
  width: 224px;
  height: 48px;
  background-color: #2688a5;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border:none;
}

.categoryButton:hover {
  background-color: rgb(25, 73, 88);
}


.boxSetImg {
  position: relative;
  width: 95%;
  border-radius: 10px;
}

.previewButton {
  width: 150px;
  height: fit-content;
  background-color:  #F1C810;;
  color: white;
  font-weight: bold;
  margin-bottom: 25px;
  border-radius: 5px;
  /* border-color:  #F1C810;; */
  border: none;
  pointer-events: none;
}
