.author-text{
    font-size: 16px;
}
.author-content{
    width: 90%;
}

.author-img{
    height: 23rem;
    width: auto;
    margin: 2rem; 
    margin-top: 0rem;
    margin-left: 0px;
    box-shadow: 1px 1px 2px 2px rgb(0,0,0,0.1);
    border-radius: 5px;
}
.author-name{
    font-size: 25px;
    font-weight: 800;
}
.author-loader{
    margin-top: 15rem;
    margin-bottom: 20rem;
}