.category{
    text-align: left!important;
    /* background-color: rgb(38,136,165); */
    background-color: rgba(241, 200, 16, 0.884) !important;
    border-radius: 5px;
    color: white;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.7rem;
}
.category > a{
    color: white!important;
}
.card{
    border: none !important;
}
.card-body{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.cat-text{
    font-size: 13px;
}

.card-title{
    font-weight: 800;
    font-size: 19px;
    text-align: left;
    text-transform: uppercase;
}

.excerpt{
    text-align: left;
    font-family: 'PT Serif', serif;
    color: rgb(108,108,107);
}
.byline{
    text-align: left;
    font-weight: 500;
    color: rgb(108,108,107);
    font-size: 15px;
}
.feature-container{
    grid-area: feature;
    margin-top: 3rem;
}

.video{
    height: 30rem;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}
@media screen and (min-width:1800px) {
    .video{
        width: 80%;
        height: 38rem;
    }
}
@media screen and (max-width:360px) {
    .video{
        width: 90vw;
        height: auto;
    }
}

.ytp-title-text {
    font-size: 25px !important;
    font-weight: 600;
}
.standby-txt{
    font-size: 12px;
}

img {
    width: 250px;
    height: auto;
}