.side-menu-container{
    padding-left: 1rem;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-template-areas: 
        "conferences"
        "poll"
        "news";
}
.side-conference{
    width: 95%;
}
.conference-container{
    grid-area: conferences;
}
.side-conference-overflow{
    overflow-y: scroll;
    height: fit-content;
    max-height: 45rem;
}
.poll-container{
    grid-area: poll;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 0.75rem;
    box-shadow: 1px 2px 2px 4px rgb(0 0 0 / 10%);
    border-radius: 5px;
}
.news-container{
    grid-area: news;
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    background: rgb(0,0,0,0.1);
    color: black !important;
}

#side-conference-title{
    font-size: 16px;
}
.side-conf-tagline{
    font-size: 15px;
}

.conference-banner{
    height: 17rem;
    width: 16rem;
}

.poll-title{
    background-color: rgba(241, 200, 16, 0.884) !important;
}

select{
    width: 100% !important;

}
.question{
    font-weight: 600;
}

.side-img{
    margin: auto;
    margin-bottom: 1rem;
    height: 17rem;
    object-fit: cover;
    width: 95%;

}

.side-data{
    font-weight: 600;
    font-size: 14px;
}
#side-date{
    margin-bottom: 2rem;
}
.side-conf-title{
    font-size: 19px;
    font-weight: 600;
    color: white;
}
.side-data-container {
    color: white;
}
.side-data-container > a:hover{
    color: white !important;
}
.conf-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 5%;
    left: 5%;
}

/* MOBILE */
@media only screen and (max-width: 992px) {
    .conf-info{
        right: 10%;
        left: 10%;
    }
    .side-img{
        width: 85%;
        height: 20rem;
    }
}
