.categoryImg {
    position: relative;
    width: 100%;
    border-radius: 10px;
    display: inline-block;

    /* position: relative;
    max-width: 100%; */
  }

  .categoryImg img#img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    /* position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;*/
    /* transition: opacity .2s;  */
}

.categoryImg:hover img#img-top {
    display: inline;
    /* opacity: 1; */
}

#rfkMain {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.articleImg {
    height: 13rem;
    object-fit: cover;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    transform: translate(-50%, -4%);
    position: absolute;
}

.constructionImg {
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-top: 23px;
}

.rfkAuthor {
    border-radius: 250px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.authorCard {
    background-color: transparent;
    min-width: 360px;
    height: 500px;
    overflow: hidden;
}

#cardColor {
    background-color: rgb(0,0,0,0.1);
}