#rfkMain {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.articleImg {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    transform: translate(-50%, -4%);
    position: absolute;
}

.rfkAuthor {
    border-radius: 250px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.authorCard {
    background-color: transparent;
    min-width: 300px;
    height: 500px;
    overflow: hidden;
}

#cardColor {
    background-color: rgb(0,0,0,0.1);
}