.stuImgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.stuImg {
  width: 95%;
  height: 660px;
  border-radius: 10px;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textContainerAuth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

#programTableLogoAuth {
  margin-top: 50px;
  margin-bottom: 50px;
  transform: translate(-26px, 41px);
}

.robotoFont {
  font-family: Roboto;
}

#border {
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categoryButton {
  padding: 10px;
  width: 224px;
  height: fit-content;
  background-color: #2688a5;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.categoryButton:hover{
  background-color: rgb(25, 73, 88);
}

.categoryButton:focus {
  outline: none;
}

.previewButtonAuth {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: #2688a5;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.previewButtonAuth:hover {
  background-color: rgb(25, 73, 88);
}
.previewButtonAuth:focus {
  outline: none;
}

.boxSetImg {
  position: relative;
  width: 95%;
  border-radius: 10px;
}

.previewButton {
  width: 150px;
  height: fit-content;
  background-color: #f1c810;
  color: white;
  font-weight: bold;
  margin-bottom: 25px;
  border-radius: 5px;
  /* border-color:  #F1C810;; */
  border: none;
  pointer-events: none;
}

.previewHighlight {
  width: 200px;
  height: fit-content;
  background-color: #f1c810;
  color: white;
  font-weight: bold;
  margin-bottom: 25px;
  border-radius: 5px;
  border: none;
  pointer-events: none;
  padding: 10px;
  font-size: 1.1rem;
}

.container {
  padding-right: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* padding-top: 70px; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 60px;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  /* box-sizing: content-box; */
  width: 100%;
}

.program-blurb {
  margin: 20px;
  font-family: "Work-Sans", sans-serif;
}

.program-blurb-auth {
  font-size: 1.2rem;
  margin: 10px;
  font-family: "Work-Sans", sans-serif;
}
.program-img-top {
  max-width: 30%;
  margin-bottom: -10px;
  height: auto;
  align-items: center;
  display: block;
  padding-left: 10px;
}

.studio-top {
  max-width: 40%;
  margin-bottom: -16px;
  height: auto;
  align-items: center;
  display: block;
  padding-left: -230px;
  transform: translate(-24px, -12px);
}

.table-top {
  max-width: 33%;
  margin-bottom: -29px;
  height: auto;
  align-items: center;
  display: block;
  transform: translate(-23px, -16px);
}

.table-top-auth {
  max-width: 15%;
  margin-bottom: 25px;
  height: auto;
  align-items: center;
  display: block;
  transform: translate(-23px, -16px);
}

.point-top {
  width: 100%;
  margin-bottom: -21px;
  height: auto;
  align-items: center;
  display: block;
  transform: translate(-6px, -12px);
}

.point-top-auth {
  width: 100%;
  margin-bottom: -21px;
  height: auto;
  align-items: center;
  display: block;
  transform: translate(0px, -10px);
}

.point-top-auth-img {
  width: 100%;
  margin-bottom: -21px;
  height: auto;
  align-items: center;
  display: block;
  transform: translate(0px, -10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px
}


.logo {
  margin-bottom: 2rem;
}
.ttp-top {
  width: 90%;
  margin-bottom: -10px;
  height: auto;
  align-items: center;
  display: block;
  padding-left: 10px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  overflow: hidden;
  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}

#card {
  background-color: transparent;
  width: 100%;
  height: 450px;
  overflow: hidden;
  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}
#progCard {
  background-color: transparent;
  min-width: 300px;
  height: 470px;
  overflow: hidden;
}

#cardAuth {
  background-color: transparent;
  width: 100%;
  height: 600px;
  overflow: hidden;
  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}

#back_auth {
  transform: translate(-13px, 320px);
  padding-bottom: 300px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: transparent; */
  background: rgba(900, 3333, 800, 0.7);
  color: black;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 2rem;
}

/* Style the back side */
.flip-card-back {
  /* background-color: rgba(241, 200, 16, 0.884) !important; */
  background: rgba(900, 3333, 800, 0.4);
  box-shadow: 5px 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Work-Sans", sans-serif;
  color: black;
  transform: rotateY(180deg);
  padding-top: 0.7rem;
  border-radius: 5px;
}

.at {
  max-width: 150px;
  margin: auto;
  height: auto;
  align-items: center;
  display: block;
  padding-bottom: 0.7rem;
  overflow: hidden;
}

.ttp {
  padding-top: 1.5rem;
  max-width: 100%;
  margin: auto;
  height: auto;
  align-items: center;
  display: block;
}

.icon {
  padding-top: 1.5rem;
  max-width: 100%;
  margin: auto;
  height: auto;
  align-items: center;
  display: block;
  width: 120px;
  height: 125px;
}

.its {
  max-width: 100%;
  padding: auto;
  height: auto;
}

.programContent {
  margin-top: 20px;
  font-family: "Work-Sans", sans-serif;
}

.crLogo {
  transform: translate(-50%, -50%);
  position: absolute;
}

.yourLogo {
  width: 170px;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -40%);
  position: absolute;
}

.constructionLogo {
  margin-top: 20px;
  width: 170px;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -80%);
  position: absolute;
}

.yourLogoAuth {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -4%);
  position: absolute;
}

.kekstLogo {
  width: 110px;
  border: 1px solid black;
  border-radius: 10px;
  transform: translate(-50%, -30%);
  position: absolute;
}

.clearyLogo {
  border: 1px solid black;
  width: 150px;
  border-radius: 10px;
  transform: translate(0%, -25%);
}

.investorLogo {
  width: 156px;
  transform: translate(0%, -45%);
}

.impactLogo {
  width: 190px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.spLogo {
  margin-top: 15px;
  width: 190px;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 0.5px solid;
}

#authorMain {
  border-radius: 5px;
  width:75%;
  box-shadow:
  rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
}

.guest-img{
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.guest-box{
  padding: 1rem;
  background-color: rgb(0,0,0,0.1);
  border-radius: 5px;
  margin: 10px 71px 2rem 67px;
  width: -moz-fit-content;
  width: fit-content;
}

.blueLine {
  border-top: 7px solid #2688a5;
  border-radius: 5px;
}

.guest-container {
  margin-left: 20px;
  border: 1.7px solid black;
  border-radius: 5px;
  margin-bottom:10px;
}

.textShadow {
  text-shadow: 2px 2px 5px  grey;
}