.home-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "feature subfeature"
        "ad ad"
        "recent recent";
    padding-left: 1rem;
    padding-right: 1rem;
}
@media screen and (max-width: 1200px) {
    .home-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "feature"
            "subfeature"
            "ad"
            "recent"
        ;
        padding: 5px;
    }
}

.feature{
    border-bottom: 1px solid rgb(0,0,0,0.2);
    grid-area: feature;
}
.ad{
    grid-area: ad;
}

.subfeature{
    border-bottom: 1px solid rgb(0,0,0,0.2);
    grid-area: subfeature;
}

.recent{
    margin-top: 1.5rem;
    grid-area: recent;
}
