.search-container{
    position: absolute;
    right: 6rem;
    top: 7rem;
    z-index: 10;
    border: 1px solid grey;
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgb(0,0,0,0.2);
    border-radius: 5px;
    padding: 1rem;
    
}
.search-results{
    overflow-y: scroll;
    max-height: 30rem;
}
input.search-input {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.result-container{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.result-container:hover{
    box-shadow: 1px 1px 2px 2px rgb(0,0,0,0.2);

}
.search-img{
    height: 10rem;
    width: 15rem;
    object-fit: cover;
}
.search-info{
    max-width: 31rem;
}
.search-exit:hover{
    cursor: pointer;
}
