.cal-container{
  box-shadow: 1px 2px 2px 4px rgb(0,0,0,0.1);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  margin: auto;
  border-radius: 5px;
  margin-top: 2rem;
  width: 90%;
  background-color: rgb(0,0,0,0.1);
  text-align: center;
}

.wp-block-column > ol > li{
    font-size: 17px;
    padding-left: 4rem;
}

.cal-dates > p > span > p{
    font-size: 18px;
    padding-left: 1rem;
}

.cal-dates{
    overflow-y: scroll;
    height: 60rem;
}
.cal-img{
    height: 2.5rem;
    width: auto;
}

.cal-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#edit-cal table td{
    border: none;
    text-align: left;
    padding: 0.25rem;
    padding-left: 3rem;
}

#edit-cal table{
    margin: auto;
}
#edit-cal{
    text-align: center;
    width: 95%;
    margin: auto;
}
.cal-table-header{
    display: flex;
    width: 95%;
    margin: auto;
}
