.soldierImg {
    border-radius: 10px;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: .3rem;
  }
  
  .advertColumn {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .advertRow::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #adBorder {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

@media (max-width: 576px) { 
    .soldierImg, .familQuotes {
     display: none;
   }
   .familImg {
       transform: translate(-130px, 0px)
   }
}


.recent-container{
    grid-area: recent;
}
.card-body-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recents-comments{
    display: flex;
    justify-content: flex-end!important;
}
.recent-title-section{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2px;
}
.recent-img{
    height: 18rem;
    object-fit: cover;
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: 0px;

}

@media screen and (min-width:2000px) {
    .recent-img{
        height: 25rem;
    }
}
.recent-container{
    padding-right:2rem ;
}
.recent-card{
    height: 18rem;
}
.survey-row{
    border-radius: 5px;
    background: rgba(241, 200, 16, 0.884) !important;
    max-width: 90%;
    margin: auto;
}
.survey-img{
    /* height: 400px;
    width: auto; */
    height: 494px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    padding: 1.5rem;
}
.survey-cat{
    background-color: #151A40;
}
.survey-excerpt p{
    text-align: left;
}