.calendarStyle {
    /* background-color:  # 0000000 undefined;
     border-radius: 5px;
        min-width: 400px;
        margin-left: 10px; */

        background: rgb(0,0,0,0.1);
        /* padding: 10px; */
        /* margin-bottom: 2rem; */
        /* margin-top: 2rem; */
        min-width: 450px;
        margin-left: 10px;
        border-radius: 10px;
}