.about-heading{
    margin: 3rem;
    padding: 2rem;
}
.abt-banner-img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    padding-top: 2rem;
}
.abt-grid-item{
    padding: 1rem;
}
.abt-sub-heading{
    font-size: 30px;
    font-weight: 700;
}
.abt-sub-text{
    font-size: 20px;
}
.abt-fa{
    font-size: 6rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    color: #151A40;
}
.about-grid-2{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 6fr;
    grid-template-rows: auto;
    margin-top: 4rem;
    background-color: rgb(0,0,0,0.1);
}
.abt-chris-img{
    height: 25rem;
    height: 25rem;
    margin-left: 3rem;
    border-radius: 10px;
}
.abt-chris-txt{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 3.5rem;
}
.abt-msg{
    font-weight: 600;
    font-size: 20px;
}
.abt-name{
    font-weight: 700;
    font-size: 25px;
    margin-top: 4rem;
}

.abt-title{
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 5rem;
}
