body{
  position: absolute;
  width: 100%;
  height: 100%;
}

.App{
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
}

.main-container{
  width: 96%;
  margin: auto;
}
.main-grid{
  display: grid;
  grid-template-columns: 70% 30%;
  grid-row: auto;
  grid-template-areas: 
      "section side-menu";
  padding-top: 2rem;
  
}


.section{
  grid-area: section;
  border-right: 1px solid rgb(0,0,0,0.2);
  padding-right: 1rem;
}
.side-menu{
  grid-area: side-menu;
  padding-right: 0px;
}

.section-title{
  font-size: 20px;
  font-weight:800;
}
.section-heading{
  font-size: 25px;
  font-weight:800;
  margin: 2rem 0rem 1rem 3rem;

}

.loader{
  margin-top: 20rem;
  margin-bottom: 34rem;
}

.advert{
  width: 65%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-right: 1rem;
}
/* .advertmain{
  margin-top:1rem;
  width: 325px;
  height: auto;
} */
.menu-advert {
  display: flex;
  margin: auto;
  width: 17em;
  height: 100%;
  margin-top: 2rem;
  box-shadow: 1px 2px 2px 4px rgb(0 0 0 / 10%);
}

optgroup{
  font-size: 30px;
}

.video-title > p{
  /* display: inline-block; */
  margin: 0px;
}

/* MOBILE */
@media only screen and (max-width: 992px) {
  .main-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section{
    border: none !important;
    padding: 0px !important;
  }
  .recent-container{
    padding-right: 0px !important;
  }
  .conference-container{
    margin-top: 2rem;
  }
  .side-menu{
    width: 90vw;
  }
}



