.nav{
    width: 100%;
    margin-top: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "item item item item item";
    border-bottom: 1px solid rgb(0,0,0,0.2);
}
a{
    color: black !important;
}

.nav-item{
    grid-area: item;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 13px;

}
.nav-item:hover{
    text-decoration: underline;
    cursor: pointer;
}
 .nav-text{
     font-weight: bold;
     font-size: 15px;
 }
 
 .navbar-toggler{
     font-weight: 600;
 }

/* MOBILE */
@media only screen and (max-width: 992px){
    .nav{
        margin-top: 0px;
        border: none;
        border-top: 1px solid rgb(0,0,0,0.2);
    }
    .navbar-collapse{
        position: absolute;
        z-index: 99;
        background-color: white;
        width: 90%;
        margin-top: 3rem;
        text-align: left;
        padding-top: 0.5rem;
        padding-left: 2rem;
        box-shadow: 1px 2px 2px 2px rgb(0 0 0 / 10%);
    }
    
}
@media only screen and (max-width: 992px){
    .nav-menu-container{
        margin-top: 1rem;
        width: 100%;
    }
    .nav{
        margin-top: 0px;
    }
}